#hidden {
    visibility: hidden;}
#style {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; }
#color {
    color: rosybrown;   
}
body {
    background-image:url(https://wallpapers.com/images/hd/cute-plain-pink-ac5iq0mnt197r6er.jpg) ;
}